/* ==============================
   WORKS SECTION
   ============================== */

.works {
  padding: 3.125rem 0;
  background-color: var(--gray-color);
}

.works__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 3.125rem;
}

/* ==============================
   TÍTULOS E TEXTO
   ============================== */

.works__title {
  font-size: clamp(1.25em, 4vh, 2.25em);
  font-family: var(--primary-font);
  color: var(--blue-color);
  margin-bottom: 2.188rem;
  text-align: center;
}

.works__subtitle {
  font-size: clamp(1em, 4vh, 2em);
  color: var(--blue-color);
  margin-bottom: 0.625rem;
}

.works__text {
  font-size: clamp(0.675, 2vw, 1em);
  line-height: 1.5;
  text-align: justify;
}

/* ==============================
   IMAGENS E ILUSTRAÇÕES
   ============================== */

.works__img {
  max-width: 80%;
  margin: 0 auto;
}

.works__guide {
  display: block;
  max-width: 100%;
}

/* ==============================
   MEDIA QUERIES - TABLET
   ============================== */

@media (min-width: 48rem) {
  .works__wrapper {
    max-width: 80vw;
    margin-inline: auto;
  }

  .works__guide {
    max-width: 85vw;
    margin-inline: auto;
  }
}

/* ==============================
   MEDIA QUERIES - DESKTOP
   ============================== */

@media (min-width: 64rem) {
  .works__wrapper {
    flex-direction: row;
  }

  .works__content {
    max-width: 50%;
  }

  .works__guide {
    max-width: 90%;
  }
}
